
@{
    ViewBag.Title = "Whishlist";
    Layout = "~/Views/KhachHangHA/Shared/_LayoutInfoCustomer.cshtml";
    ViewBag.active4 = "active";
}



<div class="col-xs-12 col-sm-10 col-md-10 dashboard-content wishlist">
    <h2 class="dash-content-title">Your Wish List</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr class="list-content">
                    <td class="list-img wishlist-img"><img src="~/hinh/place-01.jpg" class="img-responsive" alt="wishlist-img" /></td>
                    <td class="list-text wishlist-text">
                        <h3>
                            Grand Lilly
                            <span class="rating">
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star lightgrey"></i>
                            </span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p class="order"><span>Order Total:</span> $548</p>
                        <button class="btn btn-orange">Book Now</button>
                        <button class="btn btn-lightgrey visible-sm pull-right">Remove</button>
                    </td>
                    <td class="wishlist-btn hidden-sm"><button class="btn btn-lightgrey">Remove</button></td>
                </tr>

                <tr class="list-content">
                    <td class="list-img wishlist-img"><img src="~/hinh/place-02.jpg" class="img-responsive" alt="wishlist-img" /></td>
                    <td class="list-text wishlist-text">
                        <h3>
                            Grand Lilly
                            <span class="rating">
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star lightgrey"></i>
                            </span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p class="order"><span>Order Total:</span> $548</p>
                        <button class="btn btn-orange">Book Now</button>
                        <button class="btn btn-lightgrey visible-sm pull-right">Remove</button>
                    </td>
                    <td class="wishlist-btn hidden-sm"><button class="btn btn-lightgrey">Remove</button></td>
                </tr>

                <tr class="list-content">
                    <td class="list-img wishlist-img"><img src="~/hinh/place-03.jpg" class="img-responsive" alt="wishlist-img" /></td>
                    <td class="list-text wishlist-text">
                        <h3>
                            Grand Lilly
                            <span class="rating">
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star lightgrey"></i>
                            </span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p class="order"><span>Order Total:</span> $548</p>
                        <button class="btn btn-orange">Book Now</button>
                        <button class="btn btn-lightgrey visible-sm pull-right">Remove</button>
                    </td>
                    <td class="wishlist-btn hidden-sm"><button class="btn btn-lightgrey">Remove</button></td>
                </tr>

                <tr class="list-content">
                    <td class="list-img wishlist-img"><img src="~/hinh/place-04.jpg" class="img-responsive" alt="wishlist-img" /></td>
                    <td class="list-text wishlist-text">
                        <h3>
                            Grand Lilly
                            <span class="rating">
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star orange"></i>
                                <i class="fa fa-star lightgrey"></i>
                            </span>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <p class="order"><span>Order Total:</span> $548</p>
                        <button class="btn btn-orange">Book Now</button>
                        <button class="btn btn-lightgrey visible-sm pull-right">Remove</button>
                    </td>
                    <td class="wishlist-btn hidden-sm"><button class="btn btn-lightgrey">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div><!-- end table-responsive -->
</div>