.form-horizontal {
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: grid;
    grid-template-columns: auto auto;
}
span{
    padding-left: 5px;
    font-size: 20px;
}
.form-group {
    width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 10px 0px 5px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 46px;
    margin-bottom: 27px;
}
