
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/KhachHang/Shared/_LayoutPage1.cshtml";
}
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CPlayfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
@*<link href="~/Content/CSS_01/bootstrap.min.css" rel="stylesheet" />*@
@*<link href="~/Content/CSS_01/font-awesome.min.css" rel="stylesheet" />*@
<link href="~/Content/CSS_01/style.css" rel="stylesheet" />
<link href="~/Content/CSS_01/orange.css" rel="stylesheet" />
@*<link href="~/Content/CSS_01/responsive.css" rel="stylesheet" />*@
<!--==== INNERPAGE-WRAPPER =====-->
<section class="innerpage-wrapper">
    <div id="thank-you" class="innerpage-section-padding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
                    <div class="space-right">
                        <div class="thank-you-note">
                            <h3>Your Booking is confirmed now. Thank You!</h3>
                            <p>
                                Please check in your email. Invoice information has been sent
                            </p>
                            <a href="#" class="btn btn-orange">Print Details</a>
                        </div><!-- end thank-you-note -->

                        <div class="traveler-info">
                            <h3 class="t-info-heading"><span><i class="fa fa-info-circle"></i></span>Traveler Information</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Booking Number:</td>
                                            <td>000-111-222</td>
                                        </tr>
                                        <tr>
                                            <td>First Name:</td>
                                            <td>James</td>
                                        </tr>
                                        <tr>
                                            <td>Last Name:</td>
                                            <td>Anderson</td>
                                        </tr>
                                        <tr>
                                            <td>Email Address:</td>
                                            <td>info@loremipsum.com</td>
                                        </tr>
                                        <tr>
                                            <td>Home Address:</td>
                                            <td>D-Block Main Road, Lorum Ipsum.</td>
                                        </tr>
                                        <tr>
                                            <td>Town/City:</td>
                                            <td>Paris/France</td>
                                        </tr>
                                        <tr>
                                            <td>Zip Code:</td>
                                            <td>700250</td>
                                        </tr>
                                        <tr>
                                            <td>Country:</td>
                                            <td>USA</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- end table-responsive -->

                            <div class="payment-method">
                                <h3 class="t-info-heading"><span><i class="fa fa-credit-card"></i></span>Payment</h3>
                                <p>Payment is made by the use of:</p>
                                <ul class="list-inline">
                                    <li><img src="images/payment-1.png" class="img-responsive" alt="payment-img" /></li>
                                    <li><img src="images/payment-2.png" class="img-responsive" alt="payment-img" /></li>
                                    <li class="active"><img src="images/payment-3.png" class="img-responsive" alt="payment-img" /></li>
                                    <li><img src="images/payment-4.png" class="img-responsive" alt="payment-img" /></li>
                                </ul>
                            </div><!-- end payment-method -->
                        </div><!-- end traveler-info -->
                    </div><!-- end space-right -->
                </div><!-- end columns -->

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 side-bar blog-sidebar right-side-bar">

                    <div class="row">

                       

                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="side-bar-block contact">
                                <h2 class="side-bar-heading">Contact Us</h2>
                                <div class="c-list">
                                    <div class="icon"><span><i class="fa fa-envelope"></i></span></div>
                                    <div class="text"><p>support@star-hotel.com</p></div>
                                </div><!-- end c-list -->

                                <div class="c-list">
                                    <div class="icon"><span><i class="fa fa-phone"></i></span></div>
                                    <div class="text"><p>+222 – 5548 656</p></div>
                                </div><!-- end c-list -->

                                <div class="c-list">
                                    <div class="icon"><span><i class="fa fa-map-marker"></i></span></div>
                                    <div class="text"><p>Street No: 1234/A, Blu Vard Area, Main Double Road, UK</p></div>
                                </div><!-- end c-list -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="side-bar-block follow-us">
                                <h2 class="side-bar-heading">Follow Us</h2>
                                <ul class="list-unstyled list-inline">
                                    <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                                    <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                                    <li><a href="#"><span><i class="fa fa-linkedin"></i></span></a></li>
                                    <li><a href="#"><span><i class="fa fa-google-plus"></i></span></a></li>
                                    <li><a href="#"><span><i class="fa fa-pinterest-p"></i></span></a></li>
                                </ul>
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->

                    </div><!-- end row -->
                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end thank-you -->
</section><!-- end innerpage-wrapper -->
